{% extends theme("layouts/1-column.html") %}

{% set bundle = 'territory' %}
{% set logo = territory.logo_url(external=True) or theme_static('img/placeholder_territory.png', external=True) %}
{#
   Children variables outside of blocks are set before parents
   so children template can't access logo outside of blocks.
   Workaround: inject logo in meta object from parent template (until a better solution is found)
#}
{% set ___ = meta.__setitem__('image', logo) %}
{% set body_class="territory" %}

{% block main_content %}
<div class="row">
    {% if present_territory %}
    <h2 class="territory-announcement bg-danger">
        {{ _('This territory has been replaced by:') }}
        <a href="{{ present_territory.url }}">{{ present_territory }}</a>
        {{ _('since') }} {{ present_territory.validity.start[:4] }}.
    </h2>
    {% endif %}
    {% block territory_content %}{% endblock %}
</div>

{% if not territory_datasets %}
<div class="row">
    <div class="col-xs-10">
        <h2>{{ _('Territory actors') }}</h2>

        <ul class="list-unstyled list-inline avatar-pills">
            {% for publisher in publishers if publisher.logo %}
            {% set logo=publisher|placeholder('organization') %}
            {% if publisher.logo %}
            {% set logo = 'https://data.gouv.fr/s/{}'.format(publisher.logo(30)) %}
            {% endif %}
            <li><img src="{{ logo }}" alt="" class="img-circle" v-tooltip title="{{ publisher.name }}"></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="row dataset-list">
    <div class="col-xs-12">
        <h2>{{ _('Territory datasets') }}</h2>
    </div>
    {% if datasets %}
    <ul class="card-list">
        {% for dataset in datasets %}
        <li class="col-sm-6">{% include theme('dataset/card.html') %}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
